.vh-80 {min-height: 80vh;}
.vh-100 {min-height: 100vh;}
.flex {display: flex;}
.flex-center {justify-content: center;align-items: center;}
.flex-justify-center {justify-content: center;}
.flex-align-center {align-items: center;}
.flex-space-between {align-items: space-between;}
.flex-space-around {align-items: space-around;}
.text-center {text-align: center;}

/** 
*   For width-value container should be width-100
**/
@mixin grid-setup($namespace: "") {
    .#{$namespace}flex-column {flex-direction: column;}
    .#{$namespace}flex-row {flex-direction: row;}
    .#{$namespace}flex-column-reverse {flex-direction: column-reverse;}
    .#{$namespace}flex-row-reverse {flex-direction: row-reverse;}
    .#{$namespace}flex-1 {flex: 1;}
    .#{$namespace}flex-2 {flex: 2;}
    .#{$namespace}flex-3 {flex: 3;}
    .#{$namespace}flex-4 {flex: 4;}
    .#{$namespace}flex-wrap {flex-wrap: wrap;}
    .#{$namespace}width-33 {width: 33.33%;}
    .#{$namespace}width-66 {width: 66.66%;}
    .#{$namespace}width-20 {width: 20%;}
    .#{$namespace}width-40 {width: 40%;}
    .#{$namespace}width-60 {width: 60%;}
    .#{$namespace}width-80 {width: 80%;}
    .#{$namespace}width-100 {width: 100%;}
    .#{$namespace}text-center {text-align: center;}
}

// Default
@include grid-setup();

// For all palm devices
@media all and (max-width: $palm) {
    @include grid-setup("palm-");
}

// For all lap and up devices
@media all and (min-width: $palm) {
    @include grid-setup("lap-and-up-");
}

// For all lap devices 
@media all and (max-width: $laptop) {
    @include grid-setup("lap-")
}

// For all desk and up devices 
@media all and (min-width: $laptop) {
    @include grid-setup("desk-and-up-");
}