.container {
    max-width: 1260px;
    padding: 20px 0;
    margin: 0 auto;
}

#site-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 65px;
    background-color: $dark-blue;
}

.hero {
    // Offsetting top navbar
    margin-top: 65px;
}